{% extends 'class_scheduler_app/base.html' %}
{% block content %}

<div class="col-10 mx-auto">
    <div class="row justify-content-between">
        <div class="col-auto mr-auto">
            <h2>Sections</h2>
        </div>
        <div class="col-auto mr-auto">
            <a href="" class="btn btn-secondary">+ Add Section</a>
        </div>
    </div>
</div>

<div class="col-10 mx-auto">
    <table class="table table-hover table-bordered mb-5">
        <thead class="table-dark">
            <th class="p-2" scope="col"> Name </th>
            <th class="p-2" scope="col"> Grade Level </th>
            <th class="p-2" scope="col"> Subjects </th>
            <th class="p-2" scope="col"> Room </th>
            <th class="p-2" scope="col"> Availability </th>
        </thead>
        <tbody>
            {% for s in section %}
            <tr>
                <td class="p-3"> {{ s.name }} </td>
                <td class="p-3"> {{ s.grade_level }} </td>
                <td class="p-3"> {% for a in s.subjects.all %} {{ a }} {% endfor %} </td>
                <td class="p-3"> {{ s.room }} </td>
                <td class="p-3"> Periods Available: {% for a in s.availability %} {{ a }} {% endfor %} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
