{% extends 'class_scheduler_app/base.html' %}
{% block content %}

<div class="col-10 mx-auto">
    <div class="row justify-content-between">
        <div class="col-auto mr-auto">
            <h2>Teachers</h2>
        </div>
        <div class="col-auto mr-auto">
            <a href="" class="btn btn-secondary">+ Add Teacher</a>
        </div>
    </div>
</div>

<div class="col-10 mx-auto">
    <table class="table table-hover table-bordered mb-5">
        <thead class="table-dark">
            <th class="p-2" scope="col"> Name </th>
            <th class="p-2" scope="col"> Available Periods </th>
            <th class="p-2" scope="col"> Subject Taught </th>
        </thead>
        <tbody>
            {% for t in teacher %}
            <tr>
                <td class="p-3"> {{ t.name }} </td>
                <td class="p-3"> {{ t.availability }} </td>
                <td class="p-3"> {{ t.get_subject_taught_display }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
